{% extends "base.html" %}
{% block content %}
<div class="user">
    Здравствуйте {{ user.username }}
</div>
<div class="filter">
    <form method="get">
        {% csrf_token %}
        <button name="all" class="filter__button">Сбросить фильтры</button>
        <button name="new" class="filter__button">Новая</button>
        <button name="in_work" class="filter__button">Принято в работу</button>
        <button name="complete" class="filter__button">Выполнено</button>
    </form>
</div>
{% if application_list %}
    <div class="applications">
        {% for application in application_list %}
        <div class="application">
            <img src="{{ application.image.url }}" alt="Изображение заявки" class="application__image">
<!--            {% if application.design_image %}-->
<!--            <p class="application__description">Готовый дизайн:</p><img src="{{ application.design_image.url }}" alt="Изображение дизайна" class="application__image">-->
<!--            {% endif %}-->
            <div class="application__text">
                <p class="application__name">{{ application.name }}</p>
                <p class="application__description">{{ application.description }}</p>
                {% if application.comment %}
                <p class="application__description">Комментарий: {{ application.comment }}</p>
                {% endif %}
                <p class="application__date">{{ application.date_created }}</p>
                <p class="application__category">{{ application.category }}</p>
            </div>
            <div class="application__title">
                <p class="application__status">{{ application.get_status_display }}</p>
                <div class="application__interactive">
                    {% if user.is_staff %}
                        <a href="{% url 'applicationUpdate' application.pk %}" class="application__status">Изменить</a>
                    {% endif %}
                    <a href="{% url 'applicationDelete' application.pk %}" class="application__delete">🗑️</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="logged-out">Нет заявок</p>
{% endif %}

{% endblock %}