{% extends "base.html" %}

{% block content %}
{% if user.is_staff %}
<div class="create">
    <form method="post" action="{% url 'categoryCreate' %}" class="login__content">
    {% csrf_token %}
    <div class="login__inputs">
      <label class="create__category">
        <p>Название категории</p><input type="text" name="category" class="login__input">
      </label>
    </div>
    <button type="submit" class="login__button">Добавить</button>
  </form>
</div>

{% endif %}

    <div class="login">
      <form method="post" class="login__content" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in  form %}
          <div class="login__inputs">
              <label class="login__label">
                  {{field.label}}
                  {{field}}
              </label>
          </div>
          <div class="login__errors">
              {{field.errors}}
          </div>
        {% endfor %}
          <button type="submit" class="login__button">Создать</button>
      </form>
    </div>
{% endblock %}