{% extends "base.html" %}
{% block content %}
<div class="user">
    Здравствуйте {{ user.username }}
</div>
{% if application_list %}
    <div class="applications">
        {% for application in application_list %}
        <div class="application">
            <img src="{{ application.image.url }}" alt="Изображение заявки" class="application__image">
            <div class="application__text">
                <div class="application__header">
                    <p class="application__name">{{ application.name }}</p>
                    {% if user.is_staff %}
                            <p class="application__name">{{ application.author }}</p>
                    {% endif %}
                </div>
                <p class="application__description">{{ application.description }}</p>
                <p class="application__date">{{ application.date_created }}</p>
                <p class="application__category">{{ application.category }}</p>
            </div>
            <div class="application__title">
                <p class="application__status">{{ application.get_status_display }}</p>
                <div class="application__interactive">
                    {% if user.is_staff %}
                        <a href="{% url 'applicationUpdate' application.pk %}" class="application__status">Изменить</a>
                    {% endif %}
                    <a href="{% url 'applicationDelete' application.pk %}" class="application__delete">🗑️</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}