{% extends "base.html" %}

{% block content %}
 <form method="post" class="login__content" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in  form %}
      <div class="login__inputs">
          <label class="login__label">
              {{field.label}}
              {{field}}
          </label>
      </div>
      <div class="login__errors">
          {{field.errors}}
      </div>
    {% endfor %}
      <button type="submit" class="login__button">Применить</button>
  </form>
{% endblock %}