{% extends "base.html" %}
{% block content %}
<div class="create">
    <form method="post" class="login__content" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="login__inputs">
          <label class="login__label">
              {{field.label}}
              {{field}}
          </label>
      </div>
      <div class="login__errors">
          {{field.errors}}
      </div>
    {% endfor %}
        {% if form.non_field_errors %}
    <div class="login__errors global-errors">
        {{ form.non_field_errors }}
    </div>
{% endif %}
      <button type="submit" class="login__button">Применить</button>
  </form>
</div>
{% endblock %}