{% extends "base.html" %}

{% block content %}
<div class="login">
  <form action="" method="post" class="login__content" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in  form %}
      <div class="login__inputs">
          <label class="login__label">
              {{field.label}}
              {{field}}
          </label>
      </div>
      <div class="login__errors">
          {{field.errors}}
      </div>
    {% endfor %}
    <input type="submit" value="Создать">
  </form>
</div>
{% endblock %}