{% extends "base.html" %}

{% block content %}
    <div class="login">
        <form method="post" action="{% url 'registration' %}" class="login__content">
            {% csrf_token %}
            {% for field in  form %}
            <div class="login__inputs">
                <label class="login__label">
                    {{field.label_tag}}
                    {{field}}
                </label>
            </div>
            <div class="login__errors">
                {{field.errors}}
            </div>
            {% endfor %}
            <input type="submit" value="Зарегистрироваться" class=login__button>
        </form>
    </div>
{% endblock %}
