{% extends "base.html" %}

{% block content %}
<div class="login">
    <div class="login__content">
        <form method="post" action="{% url 'login' %}" class="login__form">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login" class="login__button">
    </form>
    </div>
</div>
{% endblock %}