<html lang="en">
  <head>
    <title>Interior</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  </head>
  <body>
    <header class="header">
        <a class="header__link" href="{% url 'index' %}">Главная</a>
        {% if user.is_authenticated %}
            <a class="header__link" href="{% url 'createApplication' %}">Создать заявку</a>
        {% if user.is_staff %}
            <a class="header__link" href="{% url 'allApplications' %}">Все заявки</a>
        {% endif %}
            <a class="header__link" href="{% url 'applicationList' %}">Мои заявки</a>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="header__link">Выход</button>
            </form>
        {% else %}
            <a class="header__link" href="{% url 'registration' %}">Регистрация</a>
            <a class="header__link" href="{% url 'login' %}">Вход</a>
        {% endif %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>